.main {
    margin-top: 80px;
    margin-left: 300px;
    padding: 30px 20px;
    background-color: #fff7f0;
    box-sizing: border-box;
    min-height: calc(100vh - 60px);
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Thêm khoảng cách giữa các khối */
    position: relative;
    z-index: 1;
}
