<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trung tâm Ngoại ngữ</title>
    <link rel="stylesheet" href="../../css/sidebar.css">
</head>
<body>
<div class="sidebar">
    <div class="logo">Trung tâm ngoại ngữ ABC</div>
    <nav>
        <ul>
            <li><a href="quanlyhocvien.html" onclick="loadContent('quanlyhocvien.html')">Quản lý học viên</a></li>
            <li><a href="quanlykhoahoc.html" onclick="loadContent('quanlykhoahoc.html')">Quản lý khóa học</a></li>
            <li><a href="Quản lý giảng viên.html" onclick="loadContent('quanlygiangvien.html')">Quản lý giảng viên</a></li>
            <li><a href="quanlytaichinh.html" onclick="loadContent('quanlytaichinh.html')">Quản lý tài chính</a></li>
            <li><a href="quanlytailieu.html" onclick="loadContent('quanlytailieu.html')">Quản lý tài liệu</a></li>
             <li><a href="quanlythongbao.html" onclick="loadContent('quanlythongbao.html')">Quản lý thông báo</a></li>
            <li><a href="hethongbaocao.html" onclick="loadContent('hethongbaocao.html')">Hệ thống báo cáo </a></li>

        </ul>
    </nav>
</div>
</body>\
</html>
