<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trung tâm Ngoại ngữ</title>
    <link rel="stylesheet" href="../../css/sidebar.css">
    
</head>
<body>
<div class="sidebar">
    <div class="logo">Trung tâm ngoại ngữ Thu Phương</div>
    <nav>
        <ul>
            <li><a onclick="window.location.href='chitiettaikhoan.html'">Quản lý tài khoản</a></li>
            <li><a onclick="window.location.href='qlkhoahoc.html'">Quản lý khóa học</a></li>
            <li><a onclick="window.location.href='danhsachhocvien.html'">Quản lý học viên</a></li>
            <li><a onclick="window.location.href='qlgiangvien.html'">Quản lý giảng viên</a></li>
             <li><a onclick="window.location.href='qldonhang.html'">Quản lý đơn hàng</a></li>
            <li><a onclick="window.location.href='qltaichinh.html'">Quản lý tài chính</a></li>
            <li><a onclick="window.location.href='danhmuc.html'">Quản lý danh mục</a></li>
            <!-- <li><a onclick="window.location.href='diemso.html'">Quản lý diểm số</a></li> -->

            <!-- <li><a onclick="window.location.href='qltailieu.html'">Quản lý tài liệu</a></li> -->
            <!-- <li><a onclick="window.location.href='qlhocvien.html'">Quản lý thông báo</a></li> -->
            <!-- <li><a onclick="window.location.href='qlhocvien.html'">Hệ thống báo cáo </a></li> -->
            <!-- Phần hiển thị thông tin người dùng (sẽ được hiển thị khi đăng nhập) -->
  <div id="user-info" style="display: none;">
    
    <button id="logout-btn">Đăng xuất</button>
</div>


        </ul>
    </nav>
    <script src="../../frontend/fetch/sidebar_be.js"></script>
</div>
</body>
</html>
